@charset "UTF-8";

header {
  display: flex;
  justify-content: space-between;
}

header > div {
  display: flex;
  font-size: 14px;
  padding-right: 50px;
}

header > div p {
  width: 90px;
}

header > div p a {
  color: black;
  display: block;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

header > div p a:hover {
  opacity: .3;
}

h2 {
  padding-top: 60px;
  text-align: center;
  font-size: 18px;
  /* font-weight: normal; */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
  width: 800px;
  height: 350px;
  margin: 35px auto 0;
}

.container form input {
  background-color: #fff;
  text-align: center;
  line-height: calc(350px / 2 - 25px);
  font-weight: bold;
  display: block;
  width: 100%;
  border: none;
  font-size: 16px;
}

.container form input:hover {
  opacity: .5;
  cursor: pointer;
}

.hidden {
  opacity: .2;
  cursor: not-allowed;
  pointer-events: none;
}
